BETTER_AUTH_SECRET=lB596yqaz0cW1YgzzUpBdz2moaR5j95l
BETTER_AUTH_URL=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

SUPABASE_DATABASE_PASSWORD=4tkkmbe7DwyxObbu

SUPABASE_URL=
SUPABASE_KEY=